@import "../../style/valuables.scss";

.blog-post-preview {
  background: white;
  box-shadow: $shadow;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  padding: 0.2rem 1.6rem;
  margin: 0.6rem 0rem;

  line-height: 1.5;

  transition: transform 0.3s ease;

  & .title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.2rem;
  }

  & .summary {
    font-size: 0.8rem;
    color: #7d7d7d;
    margin-bottom: 0.7rem;
  }

  &:hover {
    transform: scale(1.01, 1.01);
  }
}

@media only screen and (max-width: 640px) {
  .blog-post-preview {
    margin: 0.1rem 0rem;
    box-shadow: none;
  }
}
