@import "../../style/valuables.scss";

.blog-post-preview {
  background: white;
  // box-shadow: $shadow;

  padding: 0.8rem;
  margin: 1rem 0rem;

  border-radius: 8px;
  line-height: 1.43;

  transition: transform 0.5s ease;

  & .title {
    color: #222;
    font-size: 18px;
    font-weight: 600;
    margin: 0.2rem 0;
  }

  & .summary {
    font-size: 14px;
    color: #7d7d7d;
    margin: 0.3rem 0 ;
  }

  &:hover {
    transform: scale(1.01, 1.01);
  }
}

@media only screen and (max-width: 640px) {
  .blog-post-preview {
    padding: 16px;
    margin: 0.1rem 0rem;
    box-shadow: none;
  }
}
