@import '../../style/valuables.scss';

@keyframes rotation {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

body::-webkit-scrollbar {
  display: none;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: $cardColor;

  padding: 2rem;

  border-radius: 1rem;
  box-shadow: $shadow;

  .img-circle {
    width: $avataImg;
    height: $avataImg;

    border-radius: 100%;
    border: 5px solid #fff;
  }

  .card-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nick-name {
      color: $cardColor;
      background-color: $HeaderBackground1;
      border-radius: 8px;

      padding: 0.1rem 0.3rem;

      font: {
        size: 18px;
        weight: bold;
      }
      line-height: 1.6;

      animation: rotation 1s infinite alternate-reverse linear;
    }

    .presentation {
      color: #fff;
      text-align: center;

      padding: 0.75rem;
      margin: 0;

      white-space: pre-line;
      word-break: keep-all;

    }

    .sns-list {
      display: flex;
      align-items: center;

      .sns-item {
        width: 15px;
        margin: 0 0.2rem;
      }
    }
  }

  &.simple-card {
    flex-direction: row;
    justify-content: flex-start;

    padding: 1rem;

    transition: all 1s ease;

    .img-circle {
      width: $avataImg;
      height: $avataImg;
      border-radius: 100%;
      margin: 0rem 0.3rem;
    }

    .card-content-container {
      align-items: flex-start;
      padding: 0 0.5rem;

      .nick-name {
        font: {
          size: 16px;
          weight: 800;
        }
      }

      .presentation {
        text-align: left;

        padding: 0 0.3rem;
        margin: 0.3rem 0;

        font: {
          size: 14px;
          weight: 700;
        }
      }

      .sns-list {
        padding: 0.3rem 0;

        .sns-item {
          width: 20px;
          padding: 0;

          margin: 0 0.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .card-item {
    min-width: 100%;
    min-height: 100%;
    padding: 0.3rem;
    border-radius: 0;

    .card-content-container {
      .nick-name {
        font-size: 18px;
      }

      .presentation {
        font-size: 14px;
      }

      .sns-list {
        .sns-item {
          width: 26px;
        }
      }
    }

    &.simple-card {
      flex-direction: row;
      justify-content: flex-start;

      padding: 1rem 0.3rem;

      .img-circle {
        width: 12px;
        height: 12px;

        margin: 0;
      }


      .card-content-container {
        align-items: flex-start;
        padding: 0 0.5rem;

        .sns-list {
          padding: 0.3rem 0;

          .sns-item {
            width: 20px;
            padding: 0;

            margin: 0 0.3rem;
          }
        }
      }
    }
  }
}
