@import '../../style/valuables.scss';

body::-webkit-scrollbar {
  display: none;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Card Color
  background: #0083B0;  /* fallback for old browsers */

  padding: 2rem;

  border-radius: 8px;
  box-shadow: $shadow;

  img {
    margin: 0;
  }

  .img-circle {
    width: $avataImg;
    height: $avataImg;
    border-radius: 100%;
  }

  .card-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .nick-name {
      color: #222;
      background-color: #a8c0ff;
      border-radius: 10px;

      padding: 0.1rem 0.4rem 0.2rem;
      margin: 0.3rem;

      font: {
        size: 20px;
        weight: bold;
      }
    }

    .presentation {
      color: white;
      min-width: 80%;
      text-align: center;

      border-top: 1px solid rgba(244, 244, 244, 0.8);
      border-bottom: 1px solid rgba(244, 244, 244, 0.8);

      padding: 0.75rem;
      margin: 1rem 0;

      font-size: 20px;
      font-weight: bold;
    }

    .sns-list {
      display: flex;
      align-items: center;

      padding: 0.3rem;

      .sns-item {
        width: 20px;
      }
    }
  }

  &.simple-card {
    flex-direction: row;
    justify-content: flex-start;

    padding: 0.6rem;

    transition: all 1s ease;

    .img-circle {
      width: $avataImg;
      height: $avataImg;
      border-radius: 100%;
      margin: 0rem 0.3rem;
    }

    .card-content-container {
      align-items: flex-start;
      padding: 0 0.3rem;

      .nick-name {
        font: {
          size: 16px;
          weight: 800;
        }
      }

      .presentation {
        text-align: left;

        border: 0px;
        padding: 0rem;
        margin: 0rem 0.5rem;
        font-size: 0.8rem;
      }

      .sns-list {
        padding: 0.5rem 0.3rem 0;

        .sns-item {
          width: 35px;
          padding: 0 0.3rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .card-item {
    min-width: 100%;
    min-height: 100%;
    padding: 0.3rem;
    border-radius: 0;

    .card-content-container {
      .nick-name {
        font-size: 20px;
      }

      .presentation {
        font-size: 16px;
      }

      .sns-list {
        .sns-item {
          width: 25px;
        }
      }
    }

    &.simple-card {
      height: 20%;

      transition: none;

      .card-img-container {
        display: none;
      }
    }
  }
}
