@import "../../style/valuables.scss";

.page-btn-container {
  display: flex;
  justify-content: space-between;

  padding: 0 16px;

  .page-btn {
    padding: 0.3rem 1.2rem;
    background: #fff;
    box-shadow: $shadow;
    transition: background-color 0.3s ease, color 0.3s ease;

    font-weight: 700;
    border-radius: 50px;

    &:hover {
      color: #fff;
      background-color: $cardColor;
    }
  }
}

@media only screen and (max-width: 640px) {
  .page-btn-container {
    margin: 1rem 0;

    .page-btn {
      box-shadow: none;
    }
  }
}
