@import '../../style/valuables.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $HeaderBackground1;
  background: $HeaderBackground2;
  background-image: $HeaderBackground3;

  padding: 16px 32px;
  box-shadow: 0 0 0.3px 0.3px #C6426E;

  font: {
    size: 13px;
    weight: 500;
  }

  .header-title {
    color: $HeaderTitleColor;

    font: {
      family: "Fira Sans", sans-serif;
      size: 28px;
      weight: bold;
    }
  }
}

@media only screen and (max-width: 640px) {
  .header-container {
    border-bottom: 1px solid #aaaaaa;
    box-shadow: none;
    flex-direction: column;
    height: $header-height + 2rem;
    padding: 1rem;

    font: {
      size: 13px;
    }

    .header-title {
      font: {
        size: 25px;
      }
    }
  }
}
