@import '../../style/valuables.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #5f2c82;
  background: -webkit-linear-gradient(95.2deg,  rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
  background-image: linear-gradient( 95.2deg,  rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );

  padding: 1.5rem;
  box-shadow: 0 0 0.3px 0.3px #C6426E;

  font: {
    size: 13px;
    weight: 500;
  }

  .header-title {
    color: rgba(34, 34, 34, 0.688);

    font: {
      family: "Fira Sans", sans-serif;
      size: 32px;
      weight: bold;
    }
  }
}

@media only screen and (max-width: 640px) {
  .header-container {
    border-bottom: 2px solid #aaaaaa;
    box-shadow: none;
    flex-direction: column;
    height: $header-height + 2rem;
    padding: 1rem;

    font: {
      size: 13px;
    }

    .header-title {
      font: {
        size: 25px;
      }
    }
  }
}
