@import '../../style/valuables.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $HeaderBackground1;
  background: $HeaderBackground2;
  background-image: $HeaderBackground3;

  padding: 1rem 2rem;

  font: {
    size: 13px;
    weight: 500;
  }

  .header-title {
    color: $HeaderTitleColor;

    font: {
      family: "Fira Sans", sans-serif;
      size: 28px;
      weight: bold;
    }
  }
}

@media only screen and (max-width: 640px) {
  .header-container {
    flex-direction: column;
    padding: 0.5rem 1rem;

    font: {
      size: 13px;
    }

    .header-title {
      padding: 0.3rem;

      font: {
        size: 25px;
      }
    }
  }
}
