$header-height: 3.5rem;
$footer-height: 3.5rem;

$shadow: 0 0 3px 3px #f4f4f4;
$shadowHover: 0 0 7px 7px #f4f4f4;;

$content-width: 680px;

$avataImg: 3rem;
$cardColor: #00498C;

$HeaderTitleColor: white;
$HeaderBackground1 :  #EECDA3;
$HeaderBackground2 :  -webkit-linear-gradient(to right, #EF629F, #EECDA3);
$HeaderBackground3 :  linear-gradient(to right, #EF629F, #EECDA3);
