@import "../../style/valuables";

.aboutme-container {
  background: white;

  margin: 0rem auto;

  max-width: 720px;

  .aboutme-content{
    font: {
      size: 20px;
      weight: 400;
    }

    line-height: 1.5;
    padding: 0 1rem;
  }

  .aboutme-footer {
    .aboutme-footer-content {
      display: flex;
      justify-content: space-around;
      align-items: center;

      padding: 2rem 0 ;
    }
  }
}

@media only screen and (max-width: 850px) {
  .aboutme-footer {
    .aboutme-footer-content {
      flex-direction: column;

      padding: 0.5rem;
    }
  }
}

@media only screen and (max-width: 640px) {
  .aboutme-container {
    margin: 0rem;
    box-shadow: none;
  }
}
