@import '../../style/valuables.scss';

.post-move-btn-container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  margin: 32px 0;

  .post-move-btn {
    padding: 4px 12px;

    border-radius: 50px;
    background-color: #fff;
    color: $cardColor;

    letter-spacing: 2px;

    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $cardColor;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 640px) {
  .post-move-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 16px;

    .post-move-btn {

      &:last-child {
        text-align: right;
      }
    }
  }
}
